#home{
    height: 1800px;
    width: 102vw;
    position: absolute;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction:column;
    background-image: url("bg.jpg") ;
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center;
    overflow-x:hidden;

}
.icon_right{
    position: fixed;
    top: 30px;
     right: 0;
    z-index:999 ;

}
.icon_right span{
    margin-right: 20px;
    color: white;
    border-right:1px solid white ;
    padding-right: 10px;

}
.icon_right .router-link:link {
    text-decoration: none;
}


.icon_left{
    position: fixed;
    top: 20px;
    left: 0;
    z-index:999 ;
}
#bg{
    position: absolute;
    background:url("bg3.jpg") no-repeat -50px -100px ;
    width:100vw;
    height: 600px;
    top: 0px;
    left: 260px;
}
#function{
    background-color: black;
    opacity:40%;
    width: 1340px;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 998;

}
#blog_main{
    width: 100vw;
}

#blog_main_left{
    display: flex;
    flex-direction: column;

}
#blog_main_right{
  position: absolute;
    right:38px;
  height: 1380px;
    background-color: floralwhite;
    width: 28vw;
    top: 100px;
}

#blog_main_left li{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #e2d1c3;
    box-shadow: lightslategrey 1px 2px;
    width:62vw;
    height: 55vh;
    position:relative ;
   left: 40px;
   margin-top: 20px;
    bottom: 110px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 16px;
   align-items: center;
}
#title{
    display: flex;
    justify-content: center;
    align-items: center;
}



#blog_footer{
   position: absolute;
    display: flex;
    height:43vh;
    width: 103vw;
    margin-top: 15px;
    background-color: white;
    opacity: 70%;
    bottom: 0;
}
#footer_link{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    right: 800px;
    display: flex;
    flex-direction: column;
}
#footer_link span{
    margin-bottom: 20px;
    font-weight: bolder;

}
.link{
    position: absolute;
    bottom: 20px;
   right: 300px;

}

.link img{
    width: 150px;
    height: 150px;
    z-index: 999;

}